<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Django Delights{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'django_delights/style.css' %}">
    
    
    


</head>
<body>

<header class="header">
    <img src="{% static 'django_delights/python_logo.png' %}" alt="python_logo" class="header-logo">
    <h1 class="header-title">Django Delights</h1>
    <img src="{% static 'django_delights/django_logo.png' %}" alt="django_logo" class="header-logo">
</header>

    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Django Delights</a>
            <a class="navbar-brand" href="{% url 'menu' %}">Menu</a>
            <a class="navbar-brand" href="{% url 'purchase_view' %}">purchases</a>
            {% if user.is_staff %}
                <a class="navbar-brand" href="{% url 'inventory' %}">inventory</a>
            {% endif %}
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="navbar-brand"  type="submit">Logout</button>
                  </form>
                  
            {% else %}
                <a class="navbar-brand" href="{% url 'login' %}">Login</a>
                <a class="navbar-brand" href="{% url 'register' %}">Register</a>
            {% endif %}
            {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
            {% endif %}

        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <!-- Page content will go here -->
        {% endblock %}
    </div>

    <footer class="footer-center">
        <p>&copy; code by Devin Sweet</p>
    </footer>
</body>
</html>
